/* ============================================
   Feed Styles
   Exact match from AngularJS feed.less and feedMain.less
   ============================================ */

.feed-item-container {
  padding: 0px;
  position: relative;
  margin: 15px 0 15px 0;
}

.feed-item-container a {
  text-decoration: none;
}

.feed-item-container a:hover {
  text-decoration: underline;
}

.feed-item-container > .dp-container {
  float: left;
  width: 60px;
  height: 60px;
  position: relative;
  display: block;
  font-size: 15px;
}

.feed-item-container > .dp-container > .dp-wrapper {
  position: absolute;
  background-size: contain;
  border-radius: 50%;
}

.feed-item-container > .dp-container > .created-by {
  top: 0;
  left: 0;
  position: absolute;
  height: 60px !important;
  width: 60px !important;
}

.feed-item-container > .dp-container > .edited-by {
  bottom: -3px;
  right: -5px;
  position: absolute;
  height: 35px !important;
  width: 35px !important;
}

.feed-item-container > .dp-container.edited .dp-wrapper.edited-by {
  display: block;
}

.feed-divider {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid #e2e5ea;
}

.feed-item-content-right {
  width: 100%;
  float: left;
  margin-left: 12px;
}

.feed-item-content-right > .shared-with-container {
  margin-top: -3px;
  margin-bottom: 5px;
  margin-right: 18px;
  line-height: 15px;
  color: #339fb8;
  word-break: break-all;
}

.feed-item-content-right > .shared-with-container .grey-txt {
  color: #959595;
}

.feed-item-content-right > .shared-with-container ul {
  display: inline-flex;
  flex-flow: row nowrap;
  padding: 0px 2px 1px 2px;
  margin: 0px 0px 0px -2px;
  border-radius: 2px;
  list-style-type: none;
}

.feed-item-content-right > .shared-with-container ul li {
  margin-right: 2px;
}

.feed-item-content-right > .shared-with-container ul li.nobullet:after {
  content: none;
}

.feed-item-content-right > .shared-with-container .dot {
  margin-left: 0px;
  font-size: 20px;
  color: #7b8386;
}

.feed-item-content-right > .feed-info-container {
  clear: left;
  margin-top: 0px;
  font-size: 13px;
}

.feed-item-content-right > .feed-info-container ul {
  padding-left: 0px;
  margin: 0px;
  list-style: none;
}

.feed-item-content-right > .feed-info-container ul li {
  display: inline;
}

.feed-item-content-right > .feed-info-container ul .dot {
  color: #7b8386;
  font-size: 20px;
}

.feed-item-content-right > .feed-info-container a {
  cursor: pointer;
  color: #7b8386;
  text-decoration: none;
}

.feed-item-content-right > .feed-info-container a:hover,
.feed-item-content-right > .feed-info-container a:active,
.feed-item-content-right > .feed-info-container a:focus {
  color: #339fb8;
}

.note .note-details {
  word-wrap: break-word;
  position: relative;
  padding-right: 20px;
}

.note .note-details p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.note .title-text {
  display: block;
  padding-bottom: 3px;
  vertical-align: top;
  word-wrap: break-word;
}

.note .title-text a {
  color: #339fb8;
  font-weight: bold;
  text-decoration: none;
}

.note .title-text a:hover,
.note .title-text a:active,
.note .title-text a:focus {
  color: #4183d7;
}

.comments-panel-wrapper {
  margin-top: 5px;
  margin-bottom: 7px;
  position: relative;
  background: #f2f4f8;
  border-radius: 3px;
  padding: 0px;
}

.comments-panel-wrapper .likes-count-container {
  border-bottom: 1px solid #e2e5ea;
  border-top: 1px solid transparent;
  padding: 9px 10px;
  margin: 0px 10px;
}

.comments-panel-wrapper .likes-count-container a:first-of-type {
  margin-left: 10px;
}

.comments-panel-wrapper .likes-count-container span {
  color: #7b8386;
  position: relative;
  left: -2px;
}

.comments-panel-wrapper .likes-count-container > i {
  vertical-align: bottom;
  position: relative;
  top: -2px;
}

.comments-panel-wrapper .comments_info {
  padding: 9px 10px 0px 10px;
  margin: 0px 10px;
  position: relative;
}

.comments-panel-wrapper .comments_info > i {
  vertical-align: middle;
}

.comments-panel-wrapper .comments_info a {
  margin-left: 10px;
  color: #339fb8;
  text-decoration: none;
  cursor: pointer;
}

.comments-panel-wrapper .comments_info a:focus,
.comments-panel-wrapper .comments_info a:hover,
.comments-panel-wrapper .comments_info a:active {
  color: #339fb8;
}

.comments-panel-wrapper .comments_info span {
  color: #7b8386;
}

.comments-panel-wrapper .comments-collection {
  position: relative;
  max-height: 435px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0px 10px;
  margin-right: 2px;
}

.comments-panel-wrapper .comments-collection.expanded {
  overflow-y: auto;
  max-height: 435px;
}

.comments-panel-wrapper .comments-collection::-webkit-scrollbar-track {
  background: #f2f4f8 !important;
}

.comments-panel-wrapper .comments-collection::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
}

.comments-panel-wrapper .feed-comment-editor {
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.comment-cont {
  background-color: #f2f4f8;
  position: relative;
}

.comment-cont .comment {
  position: relative;
  padding: 10px 0px;
  border-bottom: 1px solid #e6e8ec;
  width: 473px;
}

.comment-cont .comment .pic_container {
  display: block;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.comment-cont .comment .comment_body {
  margin-top: 6px;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  padding: 0px;
  margin-right: 20px;
}

.comment-cont .comment .comment_txt {
  word-wrap: break-word;
  overflow: hidden;
  position: relative;
  display: block;
}

.comment-cont .comment .comment_txt .comment-inner {
  display: block;
}

.comment-cont .comment .action_line {
  color: #596d97;
  margin: 5px 0;
}

.comment-cont .comment .action_line .meta {
  color: #7b8386;
}

.comment-cont .comment .action_line .meta:hover,
.comment-cont .comment .action_line .meta:active,
.comment-cont .comment .action_line .meta:focus {
  color: #7b8386;
}

.comment-cont .comment .action_line .reply-btn {
  color: #339fb8;
  cursor: pointer;
  text-decoration: none;
}

.comment-cont .comment .action_line .reply-btn:hover,
.comment-cont .comment .action_line .reply-btn:focus,
.comment-cont .comment .action_line .reply-btn:active {
  color: #339fb8;
}

.comment-cont .comment .action_line .likes_count {
  color: #339fb8;
  cursor: pointer;
  white-space: nowrap;
}

.comment-cont .comment .action_line .likes_count .count {
  color: #339fb8 !important;
}

.comment-cont.replied-comment-pointer .pic_container:before {
  content: '';
  position: absolute;
  left: 29px;
  width: 3px;
  background: rgba(123, 131, 134, 0.50);
  top: 0;
  height: 10px;
}

.feed_load_status {
  text-align: center;
  padding: 40px;
  color: #7b8386;
  font-size: 14px;
}

.feed-end-placeholder {
  background: url(/assets/img/feed/infinitescrollend2x.png);
  background-repeat: no-repeat;
  background-size: 56px 28px;
  background-position: center;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 60px;
}

#feed-updates-available-notif {
  position: fixed;
  top: 75px;
  left: 50%;
  right: auto;
  display: inline-block;
  margin-left: -50px;
  text-align: center;
  z-index: 11;
  transform: translateY(-200px);
  transition: transform cubic-bezier(0.2, -0.15, 1, 0) 400ms;
}

#feed-updates-available-notif.in-view {
  transition: transform cubic-bezier(0, 1.02, 0, 1.06) 500ms 500ms;
  transform: translateY(0);
}

.feed-cont {
  position: relative;
}

.dim-feed-item {
  opacity: 0.5;
}


